{#
    Basic template
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block pageTitle %} Flask LKSH {% endblock %}</title>
    {% assets "styles" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>
<body>
    <!-- Maybe this time it could be different -->
    {% block body %}

        <div class="container">
            <h1>Hello, world!</h1>
        </div>
    {% endblock %}


    {% assets "javascript" %}
        <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
</body>
</html>