<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block pageTitle %} Flask LKSH {% endblock %}</title>
    {% assets "styles" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
</head>
<body>
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="brand">{{ _("LKSH") }}
                    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                </div>

                <ul id="menu-content" class="collapse out">
                    <li class="collapsed active"><a href="#" ><i class="fa fa-dashboard fa-lg"></i> Dashboard</a></li>
                    <li data-toggle="collapse" data-target="#languages" class="collapsed out">
                        <a href="#"><i class="fa fa-flag fa-lg"></i>{{ _("Language") }}<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="languages">
                        {% for lang in config.LANGUAGES %}
                            <li><a href="{{ url_for('setlocale', lang=lang) }}">{{ config.LANGUAGES[lang] }}</a></li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block before_content %}
                    <div class="text-center">
                        <h1 class="page-header">{% block page_header %}{{ _("Hello world!") }}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% for category, message in messages %}
                        <div class="alert alert-dismissible alert-{{ category if category != 'message' else 'info' }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% assets "javascript" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}
</body>
</html>